
table {
    margin: 1em auto;
    width: 70%;
    box-shadow: 1px 1px 2px 2px #DDD;
    border-radius: 10px;
}

thead {
        background-color: #555;
        color: #FFF;
        height: 50px;
        font-size: 1.2em;
        padding: 10%;
}

tbody {
	background-color: #FFF;
        margin-top: 32px;
}

td {
	padding: 10px;
}

tr:hover {
	background-color: #e3f2ff;
}

.mensaje_exito {
	background-color: #FFF;
	border-radius: 10px;
	border: 1px solid #2ae32a;
	color: #2ae32a;
	margin: 32px auto;
	padding: 1%;
	width: 50%;
}