{% extends 'base.html' %}
{% block navbar%}
{% endblock %}
{% block content %}
<div id="contenedor-registrarse">
    <h2 class="titulo-formulario">Recuperar Contraseña</h2>   
    <form method="POST" action=""> {% csrf_token %}
        {% if form.email.errrors %}
        jhaonfnasdf
        <div class="mensaje-formulario">{{form.email.errors|escape}}
        {% endif %}
        <div class="contenedor-input">{{ form.email }}</div>
        <div class="contenedor-input">
           <input class="input" type="submit" value="Enviar"/>
        </div>
    </form>
</div>

{% endblock %}
