{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base-usuarios.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
</head>
<body>
    <div id="contenido">
        <div id="contenedor-registrarse">
            <h2 class="titulo-formulario">Cambiar Contraseña</h2>
            <form method="POST" action=""> {% csrf_token %}
                <h3>Ingresa tú nueva contraseña:</h3>
                {% if form_password.password.errors %}
                    <div class="mensaje-formulario">
                    {% for error in form_password.password.errors %}
                        {{error|escape}}
                    {% endfor %}
                    </div>
                {% endif %}
                <div class="contenedor-input">
                    <input class="input" type="password" maxlength="16" name="password" placeholder="Contraseña" required />
                </div>
                {% if form_password.confirmar_password.errors %}
                    <div class="mensaje-formulario">
                    {% for error in form_password.confirmar_password.errors %}
                        {{error|escape}}
                    {% endfor %}
                    </div>
                {% endif %}
                <div class="contenedor-input">
                    <input class="input" type="password" name="confirmar_password" placeholder="Confirmar Contraseña" required />
                </div>
                <div class="contenedor-input">
                    <input class="input" type="submit" value="Enviar" />
                </div>
            </form>
                <a class="boton" href="{{url|escape}}">Regresar</a>
        </div>
    </div>
</body>
</html>