{% extends 'usuarios/administrador/home.html' %}
{% load staticfiles %}
{% block title %}Lista de Preguntas - {{user.username}}{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/tablas.css' %}" />
<link rel="stylesheet" href="{% static 'css/mensajes.css' %}" />
{% endblock %}

{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="mensaje {{message.tags}}">{{message}}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% if preguntas %}
        <table>
            <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>Tipo de Pregunta</th>
                </tr>
            </thead>
            <tbody>
            {% for pregunta in preguntas %}
                <tr>
                    <td><a href="{% url 'evaluaciones:pregunta' pregunta.id %}">{{pregunta.pregunta}}</a></td>
                    <td>{{pregunta.tipo_pregunta}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <div class="lista_vacia">
        <h2>La lista de preguntas está vacia.</h2>
    </div>
    {% endif %}

{% endblock %}